/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	background:#e4ebef;
	margin:5em 0;
}
.wrap{
	margin:0 auto;
	width:80%;
}
/*start header*/
.header{
background: #ffffff;width:100%;margin-top:0px;poaition:absolute;z-index:999;  border-top:1px solid #ccc;border-bottom:1px solid #ccc;
	

}
.menu{
	float:left;
	margin-left:2em;
	margin-top:-28px;
}
.menu1{
	display:inline-block;
	float:left;
	margin-top:-28px;
}
/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* Basic Styles */
nav {
	width: 100%;
	font-size: 1em;
}
nav ul {
	width: 100%;
	position: absolute;
	top:4em;
	padding: 0;
	margin: 0 auto;
	display: none;
	background: #56CCC8;
}
nav li {
	display: block;
}
nav a {
	color: #fff;
	display: block;
	width:100%;
	text-indent: 10px;
	text-align: left;
	text-decoration: none;
}
nav img{
	padding:20px 10px 12px 10px;
}
nav li a {
	border-bottom: 1px solid #40B4B4;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:10px;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #40B4B4;
}
nav a#pull {
	float: left;
	display: block;
	background-color: #56CCC8;
	width: 60px;
	position: relative;
}
/*start search*/
.web_search{
	float:left;
}
.srch{
	margin:16px 18px;
}
.srch button{
	cursor:pointer;
	background:url('../images/sprite.png') no-repeat -240px -8px;
	width:25px;
	height:25px;
	display:block;
	border: none;
	outline: none;
}
.srch button:hover{
	background-position:-240px -41px;
}
.search{
	position:absolute;
	bottom:-6em;
	left:0;
	display:block;
	z-index:100;
	background: #56CCC8;
	width:94%;
	height:60px;
	padding:3%;	
}
.search:after {
	content: '';
	position: absolute;
	left:10px;
	top:-10px;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid #56CCC8;
}
.search form{
	position:relative;
	background:#fff;
}
.search input[type="text"],.search input[type="submit"]{
	font-family: 'Open Sans', sans-serif;
	display:inline-block;
	border:none;
	color:#5d5d5d;
	outline:none;
	width:inherit;
	padding:inherit;
	font-size:14px;
	margin:inherit;
	-webkit-appearance: none;
	margin:0;
}
.search input[type="text"]{
	background:none;
	padding:10px;
	width:75%;
}
.search input[type="text"]:focus{
	color:#5d5d5d;
}
.search input[type="submit"]{
	position: absolute;
	top:6px;
	right:6px;
	background:url('../images/sprite.png') no-repeat -240px -8px;
	height: 25px;
	width: 25px;
	cursor:pointer;
}
.close{
	position:absolute;
	bottom:0px;
	right:-10px;
	color:#fff;
	padding: 0px 20px 0px 0px;
	cursor:pointer;
}
/* css-menu */
.cssmenu ul {
  margin: 0;
  padding: 0;
}
.cssmenu li {
  margin: 0;
  padding: 0;
}
.cssmenu a {
  margin: 0;
  padding: 0;
}
.cssmenu ul {
  list-style: none;
}
.cssmenu a {
  text-decoration: none;
}
.cssmenu {
	display: block;
}
.cssmenu > ul > li {
  float: left;
  z-index: 99;
  position: relative;
}
.cssmenu > ul > li > a {
  color:#464f54;
  font-size: 1em;
  display:block;
  margin:18px 20px 15px 20px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.cssmenu li.active a, .cssmenu li a:hover{
	color: #56CCC8;
}
.cssmenu > ul > li > ul {
  margin-top:5px;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  background-color: #fafafa;
  text-align: left;
  position: absolute;
  top: 55px;
  left:100%;
  margin-left: -90px;
  width: 180px;
  -webkit-transition: all .3s .1s;
  -moz-transition: all .3s .1s;
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.cssmenu > ul > li:hover > ul {
  opacity: 1;
  top:70px;
  visibility: visible;
}
.cssmenu > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #fafafa transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -18px;
  left:25%;
  margin-left: -10px;
}
.cssmenu > ul ul > li {
  position: relative;
}
.cssmenu ul ul a {
  text-transform:capitalize;
  font-family: 'Open Sans', sans-serif;
  color: #555555;
  font-size:0.85em;
  background-color: #fafafa;
  padding: 5px 8px 7px 16px;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.cssmenu ul ul a:hover {
  background-color: #f0f0f0;
}
.cssmenu ul ul ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 206px;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  width: 180px;
}
.cssmenu ul ul > li:hover > ul {
  opacity: 1;
  left: 190px;
  visibility: visible;
}
.cssmenu ul ul a:hover {
 background: #56CCC8;
  color: #ffffff;
}
.header_top_right{
	float:right;
	position:relative;
	margin-top:-28px;
}
/* start social-icons  */
.social-icons {
	float: left;
	border-left: 1px solid rgb(216, 216, 216);
	border-right: 1px solid rgb(216, 216, 216);
}
.social-icons ul{
	margin:16px 20px;
}
.social-icons li {
	width: 24px;
	height: 24px;
	padding-left:10px;
	margin: 0;
	display: inline-block;
	cursor: pointer;
	vertical-align:middle;
}
.social-icons li:first-child{
	padding-left:0;
}
.social-icons li.icon_1 {
	background:url(../images/icon_1.png) no-repeat 0px  -24px;
}
.social-icons li.icon_1:hover {
	background:url(../images/icon_1.png) no-repeat 0px  0px;
}
.social-icons li.icon_2 {
	background:url(../images/icon_2.png) no-repeat 10px  -24px;
}
.social-icons li.icon_2:hover {
	background:url(../images/icon_2.png) no-repeat 10px  1px;
}
.social-icons li.icon_3 {
	background:url(../images/icon_3.png) no-repeat 12px  -22px;
}
.social-icons li.icon_3:hover {
	background:url(../images/icon_3.png) no-repeat 12px  1px;
}
/* start login_box */
.login_box{
	float: right;
	margin:16px 20px;
}
.login_box p{
	float:left;
}
.login_box p a.signup{
	color:#5d5d5d;
	font-size:0.8em; 
    padding-right:10px;
    border-right:1px solid #888; 
}
/*-------LOGIN STARTS HERE -------*/
#loginContainer {
    position:relative;
    width:25px;
	height:25px;
	display: block;
}
/* Login Button */
#loginButton { 
    display:inline-block;  
    position:relative;
    z-index:30;
    cursor:pointer;
}
/* Login Button Text */
#loginButton span {
	background:url('../images/sprite.png') no-repeat -290px -7px;	
	 width:25px;
	 height:25px;
	 display: block;
}
#loginButton span:hover{
	background-position:-290px -36px;	
}
#loginButton.active span {
  background-position:-290px -36px;
}
/* Login Box */
#loginBox {
    position:absolute;
    top:25px;
    right:-10px;
    display:none;
    z-index:29;
}
/* Login Form */
#loginForm {
	float:right;
    width:280px; 
    margin-top:30px;
	background:#2C4766;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
#loginForm:after {
	content: '';
	position: absolute;
	right:20px;
	top:20px;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid #2C4766;
}
#loginForm fieldset {
    margin:0 0 10px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body {
    padding:15px;
    margin:0;
}
#loginForm #checkbox {
    width:auto;
    margin:3px 5px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}
#body label {
   	color:#CFD9E0;
    margin:8px 0 0 0;
    display:block;
    float:left;
    font-size:0.8em;
}
#loginForm #body fieldset label{
    display:block;
    float:none;
    margin:0 0 6px 0;
}
#body label i{
	color: #D5EDFF;
	text-shadow: 1px 1px #000;
}
/* Default Input */
#loginForm input {
    width:92%;
    border: 1px solid #e5e5e5;
	color: #5d5d5d;
	background: #f9f9f9;
    padding:8px 8px;
    font-size:0.85em;
}
/* Sign In Button */
#loginForm #login {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
    width:auto;
    float:left;
	background: #EA6060;
    color:#fff;
    font-size:0.8em;
    padding:7px 10px 8px 10px;
    border:none;
    margin:0 12px 0 0;
    cursor:pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
    -webkit-appearance:none;
}
#loginForm #login:hover {
	background: #56CCC8;
}
/* Forgot your password */
#loginForm span {
    display:block;
    padding:0px 15px 15px 15px;
}
#loginForm span a{
    color:#D5EDFF;
    font-size:0.8em;
}
#loginForm span a:hover{
	text-decoration:underline;
}
input:focus {
    outline:none;
}

/***** Media Quries *****/
@media only screen and (max-width: 1480px){
	.wrap{
		width:95%;
	}
	
}
@media only screen and (max-width: 1360px){
	.wrap{
		width:95%;
	}
	
}
@media only screen and (max-width: 1280px) {
	.wrap{
		width:95%;
	}
	.facts{
		padding:1% 4%;
	}
	.video-player iframe{
		height:285px;
	}
	.grid_s1{
		margin:31px 0;
	}
}
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}
	.resp-tab-item{
		width:24.87%;
	}
	.grid_s1{
		margin:20px 0;
	}
	.content_btm{
		padding:7% 4%;
	}
	.search1 input[type="text"]{
		width:60.3%;
	}
	.nav4{
		margin:8% 0;
	}
	.video-player iframe{
		height:265px;
	}
	.sidebar_left_grid{display:none;}
}
@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.menu{
		margin-left:0;
	}
	.sidebar_grid{
		padding:5%;
	}
	.grid_text p{
		font-size:0.85em;
	}
	.menu_box_list li a{
		padding:12px 20px;
	}
	.stories_text h3{
		font-size:2em;
	}
	.span_1_of_3_grid{
		padding:2em 2% 2em 8%;
	}
	.span_1_of_3_nav{
		padding:1em 0;
	}
	.span_1_of_3_nav li a{
		margin-right:0;
		padding:5px;
	}
	.resp-tab-item{
		width:24.8%;
	}
	.sidebar_left_grid{display:none;}
}
@media only screen and (max-width: 640px){
	.wrap{
		width:95%;
	}
	.cssmenu{
		display:none;
	}
	.sidebar,.sidebar1,.content,.content_left1,.content_right1,.sidebar_left,.sidebar_right{
		float:none;
		width:100%;
	}
	.content,.content_right1,.sidebar_right{
		margin-left:0;
		margin-top:15px;
	}
	.sidebar_left{
		margin-right:0;
	}
	.h_grid{
		margin:0;
	}
	.grid_img{
		width:8%;
	}
	.nav3{
		padding:4%;
	}
	.nav4{
		margin:1.5% 0;
	}
	.stories a{
		padding:3.5em 10%;
	}
	.sidebar_left_grid{display:none;}
}
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	body{
		margin:1em 0;
	}
	.nav4{
		margin:4.5% 0;
	}
	.span_1_of_1,.span_1_of_2,.calender,.stories,.tab_style{
		float:none;
		width:100%;
	}
	.span_1_of_2 img{
		width:100%;
	}
	.span_1_of_3_nav li a{
		font-size:0.8em;
	}
	.calender,.tab_left{
		margin-right:0;
	}
	.stories_text h3{
		font-size:3em;
	}
	.stories{
	   margin-top:10px;
	}
	.stories a{
		padding:1em 10%;
	}
	.btn1{
		margin:5% 0 15% 0;
	}
	.btn_a{
		left:45%;
	}
	.span_1_of_3_grid{
		padding:1em 2% 1em 8%;
	}
	.span_1_of_3_nav{
		margin-top:0;
	}
	.sidebar_left_grid{display:none;}
}
@media only screen and (max-width: 320px) {
	.wrap{
		width:95%;
	}
	.social-icons ul{
		margin:16px 15px;
	}
	.login_box,.srch{
		margin:16px 10px;
	}
	.grid_img{
		margin-right:8%;
	}
	.content_left,.content_right{
		float:none;
		width:100%;
		margin-right:0;
	}
	.content_right{
		margin-top:10px;
	}
	.video-player iframe{
		height:162px;
	}
	.span_1_of_3_grid {
		padding: 1em 3% 1em 15%;
	}
	.span_1_of_4_grid{
		padding:1em 5% 1em 14%;
	}
	.search1 input[type="text"]{
		padding:8px;
	}
	.search1 input[type="submit"]{
		font-size:0.8em;
		padding:10px 14px;
	}
	.sidebar_left_grid{display:none;}
}






